/* This site had been built using Sass - to see the sass files navigate to 
www.website.co.uk/sass. This will show you the individual sass files :-) */
/* line 2, ../sass/_reset.scss */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { border: 0; font-size: 100%; font: inherit; vertical-align: baseline; margin: 0; padding: 0; }

/* line 2, ../sass/_reset.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }

/* line 2, ../sass/_reset.scss */
body { line-height: 1; }

/* line 2, ../sass/_reset.scss */
ol, ul { list-style: none; }

/* line 2, ../sass/_reset.scss */
blockquote, q { quotes: none; }

/* line 2, ../sass/_reset.scss */
blockquote:before, blockquote:after, q:before, q:after { content: none; }

/* line 2, ../sass/_reset.scss */
table { border-collapse: collapse; border-spacing: 0; }

/* line 3, ../sass/_base.scss */
html { font-size: 62.5%; background-color: #ebebe5; color: #444444; }

/* line 9, ../sass/_base.scss */
body { font-size: 16px; font-size: 1.6rem; line-height: 1.5; font-family: Arial, "Helvetica Neue", Helvetica, sans-serif; }

/* line 16, ../sass/_base.scss */
.grid { margin: 0 auto; }

/* line 20, ../sass/_base.scss */
p { margin-bottom: 26px; margin-bottom: 2.6rem; }

/* line 24, ../sass/_base.scss */
ol p, ul p, dl p { margin-top: 0; margin-bottom: 0; }

/* line 30, ../sass/_base.scss */
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, .h6, h6 { margin-top: 20px; margin-top: 2rem; margin-bottom: 20px; margin-bottom: 2rem; font-family: Georgia, Times, "Times New Roman", serif; color: #444444; }

/* line 37, ../sass/_base.scss */
h1, .h1 { font-size: 32px; font-size: 3.2rem; }

/* line 41, ../sass/_base.scss */
h2, .h2 { font-size: 26px; font-size: 2.6rem; }

/* line 45, ../sass/_base.scss */
h3, .h3 { font-size: 22px; font-size: 2.2rem; margin-top: 10px; margin-top: 1rem; margin-bottom: 10px; margin-bottom: 1rem; }

/* line 51, ../sass/_base.scss */
h4, .h4 { font-size: 22px; font-size: 2.2rem; margin-top: 10px; margin-top: 1rem; margin-bottom: 10px; margin-bottom: 1rem; }

/* line 57, ../sass/_base.scss */
h5, .h5 { font-size: 20px; font-size: 2rem; margin-top: 6px; margin-top: 0.6rem; margin-bottom: 6px; margin-bottom: 0.6rem; }

/* line 63, ../sass/_base.scss */
h6, .h6 { font-size: 18px; font-size: 1.8rem; margin-top: 0 !important; margin-bottom: 0 !important; }

/* line 68, ../sass/_base.scss */
a { color: #4e6d7d; text-decoration: none; }
/* line 72, ../sass/_base.scss */
a:hover, a:active { color: #3a525e; text-decoration: underline; }
/* line 76, ../sass/_base.scss */
a:visited { color: #27363e; }

/* line 81, ../sass/_base.scss */
strong { font-weight: bold; }

/* line 85, ../sass/_base.scss */
small, sub, sup { font-size: 14px; font-size: 1.4rem; }

/* line 89, ../sass/_base.scss */
mark { background-color: #80fb5b; }

/* line 93, ../sass/_base.scss */
cite, em, q { font-style: italic; }

/* line 97, ../sass/_base.scss */
q:after { content: "”"; }

/* line 101, ../sass/_base.scss */
q:before { content: "“"; }

/* line 105, ../sass/_base.scss */
sub, sup { line-height: 0; position: relative; vertical-align: baseline; }

/* line 111, ../sass/_base.scss */
sub { bottom: -0.25em; }

/* line 114, ../sass/_base.scss */
sup { top: -0.5em; }

/* line 118, ../sass/_base.scss */
abbr { border-bottom: dotted 1px; }

/* line 123, ../sass/_base.scss */
blockquote { padding-left: 20px; border-left: solid 5px #9d9d9d; }
/* line 128, ../sass/_base.scss */
blockquote small:before { content: "-"; }

/* line 135, ../sass/_base.scss */
pre, code { font-family: Consolas,'Lucida Console',Monaco,monospace; }

/* line 139, ../sass/_base.scss */
code { background-color: #f6f6f6; border: solid 1px #cccccc; padding: 3px; }

/* line 145, ../sass/_base.scss */
pre code { display: block; padding: 15px; background-color: #f6f6f6; border: solid 1px #cccccc; }

/* line 153, ../sass/_base.scss */
table { width: 100%; border-collapse: collapse; border-spacing: 0; }

/* line 159, ../sass/_base.scss */
thead { border-top: 1px solid #cccccc; }

/* line 163, ../sass/_base.scss */
tr { border-left: 1px solid #cccccc; }
/* line 167, ../sass/_base.scss */
tr:nth-child(2n) td, tr:nth-child(2n) th { background-color: #f6f6f6; }

/* line 173, ../sass/_base.scss */
th, td { border-bottom: 1px solid #cccccc; border-right: 1px solid #cccccc; padding: 5px 10px; background-color: white; }

/* line 180, ../sass/_base.scss */
th { background-color: #dddddd; text-align: left; font-weight: bold; }

/* line 187, ../sass/_base.scss */
ul, ol { margin-left: 0; padding-left: 26px; margin-top: 20px; margin-top: 2rem; margin-bottom: 20px; margin-bottom: 2rem; }
/* line 193, ../sass/_base.scss */
ul ul, ul ol, ul p, ol ul, ol ol, ol p { margin-top: 0; margin-bottom: 0; }

/* line 199, ../sass/_base.scss */
ul li { list-style-type: disc; }

/* line 203, ../sass/_base.scss */
ol li { list-style-type: decimal; }

/* line 207, ../sass/_base.scss */
.list { padding-left: 0; }
/* line 210, ../sass/_base.scss */
.list li { list-style-type: none; }

/* line 216, ../sass/_base.scss */
.floated li { float: left; }

/* line 221, ../sass/_base.scss */
dt { font-weight: bold; }

/* line 225, ../sass/_base.scss */
dd { padding-left: 20px; margin-bottom: 16px; margin-bottom: 1.6rem; margin-left: 0; }

/* line 233, ../sass/_base.scss */
.nav li { display: inline-block; *display: inline; *zoom: 1; list-style: none; margin-left: 10px; }

/* line 241, ../sass/_base.scss */
.box { border: solid 1px #9d9d9d; background-color: white; margin-bottom: 26px; margin-bottom: 2.6rem; }
/* line 246, ../sass/_base.scss */
.box p:last-child { margin-bottom: 0; }

/* line 251, ../sass/_base.scss */
.secondary-box { background-color: #d9d9d9; border: none; margin-bottom: 26px; margin-bottom: 2.6rem; }
/* line 256, ../sass/_base.scss */
.secondary-box p:last-child { margin-bottom: 0; }

/* line 262, ../sass/_base.scss */
.hidden { display: none; }

/* line 266, ../sass/_base.scss */
.clearfix { zoom: 1; }
/* line 108, ../sass/_mixins.scss */
.clearfix:before, .clearfix:after { display: table; content: ''; }
/* line 112, ../sass/_mixins.scss */
.clearfix:after { clear: both; }

/* line 270, ../sass/_base.scss */
.crunch { margin-top: 0 !important; margin-bottom: 0 !important; }

/* line 274, ../sass/_base.scss */
.crunch-top { margin-top: 0 !important; }

/* line 278, ../sass/_base.scss */
.crunch-bottom { margin-bottom: 0 !important; }

/* line 282, ../sass/_base.scss */
.spaced { padding: 15px; }

/* line 286, ../sass/_base.scss */
.figure { margin: 20px; }

/* line 290, ../sass/_base.scss */
.pull-right { float: right !important; }
/* line 294, ../sass/_base.scss */
.pull-right.figure { margin-right: 0; margin-top: 0; }

/* line 300, ../sass/_base.scss */
.pull-left { float: left !important; }
/* line 304, ../sass/_base.scss */
.pull-left.figure { margin-left: 0; margin-top: 0; }

/* line 2, ../sass/_forms.scss */
label { display: block; margin-top: 20px; margin-top: 2rem; font-size: 19.2px; font-size: 1.92rem; }
/* line 7, ../sass/_forms.scss */
label span { color: #984428; }
/* line 11, ../sass/_forms.scss */
label:first-child { margin-top: 0; }

/* line 23, ../sass/_forms.scss */
input[type='text'], input[type='email'], input[type='url'], input[type='tel'], input[type='search'], input[type='password'], textarea { height: 20px; padding: 8px; width: 50%; background-color: #f6f6f6; -webkit-box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.075) inset; -moz-box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.075) inset; box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.075) inset; border: 1px solid #cccccc; color: #777777; font-family: Arial, "Helvetica Neue", Helvetica, sans-serif; font-size: 16px; font-size: 1.6rem; -webkit-transition: all 0.5s ease-out; -moz-transition: all 0.5s ease-out; transition: all 0.5s ease-out; }

/* line 36, ../sass/_forms.scss */
span.error { display: block; font-family: Arial, "Helvetica Neue", Helvetica, sans-serif; color: #984428; margin-top: 0; font-size: 15pxpx; font-size: 1.5pxrem; font-style: italic; -webkit-transition: all 0.5s ease-out; -moz-transition: all 0.5s ease-out; transition: all 0.5s ease-out; }

/* line 46, ../sass/_forms.scss */
input.error { border: 1px solid #e7b5a5; background-color: white; }

/* line 52, ../sass/_forms.scss */
input[type='email'], input[type='url'] { width: 70%; }

/* line 56, ../sass/_forms.scss */
textarea { width: 90%; height: 100px; }

/* line 13, ../sass/_buttons.scss */
.base-button { padding: 10px 20px; cursor: pointer; font-family: Georgia, Times, "Times New Roman", serif; font-size: 18px; font-size: 1.8rem; border: solid 1px #bfbfbf; }
/* line 8, ../sass/_buttons.scss */
.base-button:hover { text-decoration: none; }

/* line 17, ../sass/_buttons.scss */
.button, button, input[type="submit"], input[type="button"] { padding: 10px 20px; cursor: pointer; font-family: Georgia, Times, "Times New Roman", serif; font-size: 18px; font-size: 1.8rem; border: solid 1px #bfbfbf; background-color: #b6b6b6; color: white; }
/* line 8, ../sass/_buttons.scss */
.button:hover, button:hover, input[type="submit"]:hover, input[type="button"]:hover { text-decoration: none; }
/* line 22, ../sass/_buttons.scss */
.button:hover, .button:active, .button:focus, button:hover, button:active, button:focus, input[type="submit"]:hover, input[type="submit"]:active, input[type="submit"]:focus, input[type="button"]:hover, input[type="button"]:active, input[type="button"]:focus { background-color: #c3c3c3; color: #f2f2f2; }

/* line 29, ../sass/_buttons.scss */
.secondary-btn { padding: 10px 20px; cursor: pointer; font-family: Georgia, Times, "Times New Roman", serif; font-size: 18px; font-size: 1.8rem; border: solid 1px #bfbfbf; background-color: #b4ab95; color: white; }
/* line 8, ../sass/_buttons.scss */
.secondary-btn:hover { text-decoration: none; }
/* line 34, ../sass/_buttons.scss */
.secondary-btn:hover { background-color: #bfb7a4; color: #f2f2f2; }

/* line 41, ../sass/_buttons.scss */
.highlight-btn { padding: 10px 20px; cursor: pointer; font-family: Georgia, Times, "Times New Roman", serif; font-size: 18px; font-size: 1.8rem; border: solid 1px #bfbfbf; background-color: #f88a08; color: white; }
/* line 8, ../sass/_buttons.scss */
.highlight-btn:hover { text-decoration: none; }
/* line 46, ../sass/_buttons.scss */
.highlight-btn:hover { background-color: #f99621; color: #f2f2f2; }

/* line 55, ../sass/_buttons.scss */
.button-group .button { float: left; border-right: none; }
/* line 59, ../sass/_buttons.scss */
.button-group .button.last { border-right: solid 1px #bfbfbf; }

/* line 69, ../sass/_buttons.scss */
.btn-small { padding: 2px 5px; font-size: 14px; font-size: 1.4rem; }

/* line 74, ../sass/_buttons.scss */
.btn-danger { background-color: #984428; }
/* line 77, ../sass/_buttons.scss */
.btn-danger:hover { background-color: #843b23; }

/* line 82, ../sass/_buttons.scss */
.btn-success { background-color: #2f8f31; }
/* line 85, ../sass/_buttons.scss */
.btn-success:hover { background-color: #297c2a; }

/* line 23, ../sass/_frag.scss */
.grid { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; max-width: 1200px; *width: 920px; padding-left: 20px; padding-right: 20px; zoom: 1; }
/* line 108, ../sass/_mixins.scss */
.grid:before, .grid:after { display: table; content: ''; }
/* line 112, ../sass/_mixins.scss */
.grid:after { clear: both; }
/* line 31, ../sass/_frag.scss */
.grid .grid { padding-left: 0; padding-right: 0; }

/* line 39, ../sass/_frag.scss */
.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; display: block; float: left; padding-left: 20px; padding-right: 20px; }

/* line 48, ../sass/_frag.scss */
.col-clear { clear: left; }

/* line 53, ../sass/_frag.scss */
.ie-clear { display: none; *display: block; *clear: both; }

/* line 60, ../sass/_frag.scss */
.col-hide { display: none; }

/* line 65, ../sass/_frag.scss */
.col-gutterless { padding-left: 0; padding-right: 0; *padding-left: 20px; *padding-right: 20px; }

/* line 77, ../sass/_frag.scss */
.col-1 { width: 8.33333%; *width: 36px; }

/* line 78, ../sass/_frag.scss */
.col-2 { width: 16.66667%; *width: 112px; }

/* line 79, ../sass/_frag.scss */
.col-3 { width: 25%; *width: 188px; }

/* line 80, ../sass/_frag.scss */
.col-4 { width: 33.33333%; *width: 264px; }

/* line 81, ../sass/_frag.scss */
.col-5 { width: 41.66667%; *width: 340px; }

/* line 82, ../sass/_frag.scss */
.col-6 { width: 50%; *width: 416px; }

/* line 83, ../sass/_frag.scss */
.col-7 { width: 58.33333%; *width: 492px; }

/* line 84, ../sass/_frag.scss */
.col-8 { width: 66.66667%; *width: 568px; }

/* line 85, ../sass/_frag.scss */
.col-9 { width: 75%; *width: 644px; }

/* line 86, ../sass/_frag.scss */
.col-10 { width: 83.33333%; *width: 720px; }

/* line 87, ../sass/_frag.scss */
.col-11 { width: 91.66667%; *width: 796px; }

/* line 88, ../sass/_frag.scss */
.col-12 { width: 100%; *width: 872px; }

/* line 91, ../sass/_frag.scss */
.grid .grid { *width: auto; }
/* line 95, ../sass/_frag.scss */
.grid .grid .col-1, .grid .grid .col-2, .grid .grid .col-3, .grid .grid .col-4, .grid .grid .col-5, .grid .grid .col-6, .grid .grid .col-7, .grid .grid .col-8, .grid .grid .col-9, .grid .grid .col-10, .grid .grid .col-11, .grid .grid .col-12 { *width: auto; *float: none; }

@media (max-width: 768px) { /* line 108, ../sass/_frag.scss */
  .col-4, .col-5, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 { width: 100%; *width: 872px; }
  /* line 109, ../sass/_frag.scss */
  .col-clear { clear: none; }
  /* line 110, ../sass/_frag.scss */
  .col-hide { display: block; }
  /* line 113, ../sass/_frag.scss */
  .col-1 { width: 16.66667%; *width: 112px; }
  /* line 114, ../sass/_frag.scss */
  .col-2 { width: 33.33333%; *width: 264px; }
  /* line 115, ../sass/_frag.scss */
  .col-3 { width: 50%; *width: 416px; }
  /* line 118, ../sass/_frag.scss */
  .col-tablet-1 { width: 8.33333%; *width: 36px; }
  /* line 119, ../sass/_frag.scss */
  .col-tablet-2 { width: 16.66667%; *width: 112px; }
  /* line 120, ../sass/_frag.scss */
  .col-tablet-3 { width: 25%; *width: 188px; }
  /* line 121, ../sass/_frag.scss */
  .col-tablet-4 { width: 33.33333%; *width: 264px; }
  /* line 122, ../sass/_frag.scss */
  .col-tablet-5 { width: 41.66667%; *width: 340px; }
  /* line 123, ../sass/_frag.scss */
  .col-tablet-6 { width: 50%; *width: 416px; }
  /* line 124, ../sass/_frag.scss */
  .col-tablet-7 { width: 58.33333%; *width: 492px; }
  /* line 125, ../sass/_frag.scss */
  .col-tablet-8 { width: 66.66667%; *width: 568px; }
  /* line 126, ../sass/_frag.scss */
  .col-tablet-9 { width: 75%; *width: 644px; }
  /* line 127, ../sass/_frag.scss */
  .col-tablet-10 { width: 83.33333%; *width: 720px; }
  /* line 128, ../sass/_frag.scss */
  .col-tablet-11 { width: 91.66667%; *width: 796px; }
  /* line 129, ../sass/_frag.scss */
  .col-tablet-12 { width: 100%; *width: 872px; }
  /* line 130, ../sass/_frag.scss */
  .col-tablet-clear { clear: left; }
  /* line 131, ../sass/_frag.scss */
  .col-tablet-hide { display: none; } }
@media (max-width: 380px) { /* line 143, ../sass/_frag.scss */
  .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 { width: 100%; *width: 872px; }
  /* line 144, ../sass/_frag.scss */
  .col-clear, .col-tablet-clear { clear: none; }
  /* line 145, ../sass/_frag.scss */
  .col-hide, .col-tablet-hide { display: block; }
  /* line 148, ../sass/_frag.scss */
  .col-mobile-1 { width: 8.33333%; *width: 36px; }
  /* line 149, ../sass/_frag.scss */
  .col-mobile-2 { width: 16.66667%; *width: 112px; }
  /* line 150, ../sass/_frag.scss */
  .col-mobile-3 { width: 25%; *width: 188px; }
  /* line 151, ../sass/_frag.scss */
  .col-mobile-4 { width: 33.33333%; *width: 264px; }
  /* line 152, ../sass/_frag.scss */
  .col-mobile-5 { width: 41.66667%; *width: 340px; }
  /* line 153, ../sass/_frag.scss */
  .col-mobile-6 { width: 50%; *width: 416px; }
  /* line 154, ../sass/_frag.scss */
  .col-mobile-7 { width: 58.33333%; *width: 492px; }
  /* line 155, ../sass/_frag.scss */
  .col-mobile-8 { width: 66.66667%; *width: 568px; }
  /* line 156, ../sass/_frag.scss */
  .col-mobile-9 { width: 75%; *width: 644px; }
  /* line 157, ../sass/_frag.scss */
  .col-mobile-10 { width: 83.33333%; *width: 720px; }
  /* line 158, ../sass/_frag.scss */
  .col-mobile-11 { width: 91.66667%; *width: 796px; }
  /* line 159, ../sass/_frag.scss */
  .col-mobile-12 { width: 100%; *width: 872px; }
  /* line 160, ../sass/_frag.scss */
  .col-mobile-clear { clear: left; }
  /* line 161, ../sass/_frag.scss */
  .col-mobile-hide { display: none; } }
/* line 3, ../sass/_header.scss */
.header { border-bottom: solid 1px #d0d0d0; -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1); -moz-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1); box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1); margin-bottom: 30px; margin-bottom: 3rem; }

/* line 1, ../sass/_footer.scss */
.footer { background: url("../img/style/footer-bg.png") repeat scroll 0 0 #2e2e2e; padding-top: 20px; padding-bottom: 20px; color: white; }

/* line 3, ../sass/optional/_carousel.scss */
.carousel { position: relative; }
/* line 6, ../sass/optional/_carousel.scss */
.carousel ol { position: absolute; top: 30%; z-index: 10; width: 102%; margin-left: -1%; }
/* line 13, ../sass/optional/_carousel.scss */
.carousel ol a { display: block; text-align: center; -moz-opacity: 0.7; -khtml-opacity: 0.7; -webkit-opacity: 0.7; opacity: 0.7; filter: alpha(opacity=70); }
/* line 18, ../sass/optional/_carousel.scss */
.carousel ol a:hover { -moz-opacity: 0.9; -khtml-opacity: 0.9; -webkit-opacity: 0.9; opacity: 0.9; filter: alpha(opacity=90); }

/* line 24, ../sass/optional/_carousel.scss */
.carousel-wrapper { overflow: hidden; margin-bottom: 20px; margin-bottom: 2rem; position: relative; }

/* line 30, ../sass/optional/_carousel.scss */
.item-container { width: 100%; margin-top: 0; position: relative; left: 0; top: 0; }
/* line 38, ../sass/optional/_carousel.scss */
.item-container li img { margin-right: 10px; width: 300px; height: 200px; }

/* line 49, ../sass/optional/_carousel.scss */
.no-javascript .carousel ol { display: none; }

/* line 5, ../sass/optional/_tabs.scss */
.tab-wrapper .tab-nav a { padding: 8px 15px; display: block; background-color: #f3f3f3; margin-right: 8px; }
/* line 11, ../sass/optional/_tabs.scss */
.tab-wrapper .tab-nav a:hover { background-color: #fafafa; }
/* line 15, ../sass/optional/_tabs.scss */
.tab-wrapper .tab-nav a.active { background-color: #d9d9d9; }
/* line 21, ../sass/optional/_tabs.scss */
.tab-wrapper .tab-target { display: none; }
/* line 24, ../sass/optional/_tabs.scss */
.tab-wrapper .tab-target.active { display: block; }

/* line 32, ../sass/optional/_tabs.scss */
.no-javascript .tab-wrapper .tab-target { display: block; }

/* line 4, ../sass/optional/_hideshow.scss */
.hideshow .hide-show-trigger { cursor: pointer; padding-right: 30px; position: relative; }
/* line 9, ../sass/optional/_hideshow.scss */
.hideshow .hide-show-trigger .icon { position: absolute; right: 8px; top: 15px; width: 13px; height: 13px; background-image: url("../img/style/hideshow.png"); background-position: 0 0; background-repeat: no-repeat; }
/* line 20, ../sass/optional/_hideshow.scss */
.hideshow .hide-show-trigger.open .icon { background-position: 0 -110px; }
/* line 25, ../sass/optional/_hideshow.scss */
.hideshow .hide-show-target { display: none; }
/* line 28, ../sass/optional/_hideshow.scss */
.hideshow .hide-show-target.open { display: block; }

/* line 35, ../sass/optional/_hideshow.scss */
.no-javascript .hide-show-target { display: block; }

/* line 1, ../sass/optional/_controls.scss */
.control-outer { position: relative; }

/* line 5, ../sass/optional/_controls.scss */
.edit-controls { display: none; position: absolute; right: -4px; top: -1px; }
/* line 11, ../sass/optional/_controls.scss */
.edit-controls.active { display: block; top: 3px; }
/* line 15, ../sass/optional/_controls.scss */
.edit-controls .btn { margin-left: 2px; }

/* line 21, ../sass/optional/_controls.scss */
.control-row:hover .edit-controls { display: block; }

/* line 28, ../sass/optional/_controls.scss */
.control-row.saved td, .control-row.saved:nth-child(2n+1) > td, .control-row.saved:hover > td { transition: background-color 1s; -webkit-transition: background-color 1s; /* Safari */ background-color: #a8e2a9; }
