@mixin base-button {
  padding:10px 20px;
  cursor:pointer;
  font-family:$font-type-title;
  @include type-size(18);
  border:solid 1px darken($input-border, 5%);

  &:hover {
    text-decoration:none;
  }
}

.base-button {
	@include base-button;
}

.button, button, input[type="submit"], input[type="button"] {
  @include base-button;
  background-color:$button-bg;
  color:$button-color;

  &:hover, &:active, &:focus {
    background-color:lighten($button-bg,5%);
    color:darken($button-color,5%);
  }

}

.secondary-btn {
  @include base-button;
  background-color:$secondary-button-bg;
  color:$button-secondary-color;

  &:hover {
    background-color:lighten($secondary-button-bg,5%);
    color:darken($button-secondary-color,5%);
  }

}

.highlight-btn {
  @include base-button;
  background-color:$highlight-button-bg;
  color:$button-highlight-color;

  &:hover {
    background-color:lighten($highlight-button-bg, 5%);
    color:darken($button-highlight-color,5%);
  }

}

.button-group {
  
  .button {
    float:left;
    border-right:none;

    &.last {
      @include border-radius(0, 4px, 4px, 0);
      border-right:solid 1px darken($input-border, 5%);
    }

  }

  
}


.btn-small {
  padding:2px 5px;
  @include type-size(14);
}

.btn-danger {
  background-color:$error-color;

  &:hover {
    background-color:darken($error-color, 5%);
  }
}

.btn-success {
  background-color:$success-color;

  &:hover {
    background-color:darken($success-color, 5%);
  }
}